body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    margin: 10px;
    padding: 10px 50px 20px;
    box-sizing: border-box;

}
h1
{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #d18ed6;

}
h2
{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #d18ed6;

}
h3
{
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #d18ed6;

}

h4
{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #d18ed6;

}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 20px;
    text-align: center;
    background-color: #d18ed6;
    color: white;
    border-radius: 20px;
    margin: 1em;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

h1, h2, h3, h4, .about-section, .tool, .tool img {
    text-align: left; /* Rétablir l'alignement à gauche pour ces éléments spécifiques */
    margin: auto; /* Ajout pour centrer ces éléments */
}


.left, .right {
    flex: 1;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 5% 5% 5% 5%;
}

.about-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 5% 5% 5% 5%;
}
.tool-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    margin: 5%;
    text-align: center;
}

.tool {
    flex: 0 1 calc(30% - 20px); /* Adjust the percentage and margin as needed */
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #d18ed6;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    box-sizing: border-box;
}

.tool img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px; /* Adjust as needed */
}

