.timeline-container {
    width: 100%;
    height: auto;
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 800px;

}

.timeline__item {
    padding: 20px 40px;
    position: relative;
    border-bottom: 1px solid #000000;

}

.timeline__item--year {
    padding: 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

}

.timeline__title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.63);
    background-image: url("images/experience.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.timeline__blurb {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #fafafa;
    background-repeat: no-repeat;
    background-size: cover;
}

.timeline__blurb:hover {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.53);

}

.timeline__item timeline__item--year {
    padding: 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    color: #000000;
}

