.timeline-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #212529;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline {
    list-style: none;
    padding: 20px 0;
    position: relative;
}

.timeline__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 0;

}

.timeline__item:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: 150px;
    width: 2px;
    height: 100%;
    /** je veux mettre la bar verticale à gauche */
}

.timeline__item:last-child:before {
    display: none;
}

.timeline__item .timeline__content {
    width: 45%;
    padding: 0 20px;
    position: relative;
}

.timeline__item .timeline__content:before {
    content: "";
    position: absolute;
    top: 24px;
    left: -18px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #eeeeee;
    border: 2px solid #ffffff;
    box-shadow: 0 0 0 2px #eeeeee;
}

.timeline__item .timeline__content .timeline__year {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    padding: 4px 10px;
    background: #ffffff;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 2px #eeeeee;

}

.timeline__item .timeline__content .timeline__title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #000000;

}

.timeline__item .timeline__content .timeline__text {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px;
    color: #000000;

}

.timeline__item .timeline__content .timeline__text:last-child {
    margin: 0;
}


.timeline__item:nth-child(odd) {
    flex-direction: row-reverse;

}

.timeline__item:nth-child(even) {
    flex-direction: row;
}

.timeline__item:nth-child(odd) .timeline__content {
    margin-left: 0;
    margin-right: auto;
}

.timeline__item:nth-child(even) .timeline__content {
    margin-left: auto;
    margin-right: 0;
}

.timeline__item:nth-child(odd) .timeline__content:before {
    left: auto;
    right: -18px;

}

.timeline__title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px;
    color: #000000;

}

.timeline__blurb {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px;
    color: #fafafa;

}

.timeline__blurb:last-child {
    margin: 0;

}

.timeline__blurb a {
    text-decoration: none;
    color: #fafafa;
}

.timeline__blurb a:hover {
    text-decoration: underline;
    background-color: #646464;

}

.timeline__item:nth-child(odd) .timeline__content .timeline__year {
    left: auto;
    right: -50%;
    transform: translate(50%, -50%);
}