/* Style the contact section container */
.contact-section {
    padding: 50px 0;
    background-color: #f8f9fa;

}

/* Style the contact container with flexbox */
.contact-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

/* Style each contact column */
.contact-column {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 10px;

}

/* Style the contact info column */
.contact-info {
    text-align: center;

}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

.contact-info ul {
    list-style: none;
    padding: 0;

}

.contact-info li {
    margin-bottom: 15px;

}

.contact-info strong {
    display: inline-block;
    width: 100px;
    font-weight: bold;

}

.contact-info a {
    text-decoration: none;
    color: #fafafa;

}

.contact-info a:hover {
    text-decoration: underline;

}

/* Style the social icons */
.social-icons img {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s ease;

}

/* Style the contact form column */
.contact-form {
    text-align: center;

}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

/* Style the form inputs and textarea */
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-family: inherit;
    transition: border-color 0.3s ease;

}

/* Style the submit button */
input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}



/* Style the submit button */
input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

input[type="submit"]:hover {
    background-color: #646464;

}


